h1 {
  text-align: center;
}

body {
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: black;
}

a.current {
  font-weight: 700;
}

.about {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
  text-align: left;
  font-size:15px;
}

.contact {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  text-align: left;
}

.portfolio-navs {
  display: inline;
  font-size: 25px;
  color:white;
  font-weight: 300;
  float:left;
  width:100%;
  display: block;
  text-align: center;
}

.iconrow {
  display: inline;
}
.face {
  display: inline;
}
.soundcloud {
  margin-left: 3%;
  display: inline;
}

.youtube {
  margin-left: 3%;
  display: inline;
}

.iconrow a:visited {
  color:white;
}

.face a:hover {
  color:#3b5998;
}

.youtube a:hover {
  color:#bb0000;
}

.soundcloud a:hover {
  color:#ff3a00;
}

.portfolio-navs a:link {
    color: white;
    text-decoration: none;
}


.portfolio-navs a:visited{
    color: white;
}

img {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -303px;
  margin-left: -315px;
}
